.card, .btn, .btn-lg, .form-control { border-radius: 0 !important; } /* Removes rounding effect from buttons, cards, and inputs */

body {
	background-color: #fffef2;
}

.btn-danger {
	vertical-align: top;
}

.pt-extra {
	padding-top: 5rem !important;
}
.pb-extra {
	padding-bottom: 5rem !important;
}
@media (min-width: 1200px){
  .display-5 {
    font-size: 2rem;
  }
}
.display-5 {
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}
@media (min-width: 1200px){
	.display-6 {
	  font-size: 1rem;
	}
}
.display-6 {
	font-size: calc(1rem + 0.5vw);
	font-weight: 300;
	line-height: 1.2;
}
@media (min-width: 1200px){
	.display-7 {
	  font-size: 0.8rem;
	}
}
.display-7 {
	font-size: calc(0.8rem + 0.5vw);
	font-weight: 300;
	line-height: 1.2;
}
.row-no-ml, .row-no-mr{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.content{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
}
/***************
*    NAVBAR    *
***************/
.navbar-theme .navbar-nav .nav-link { /* Change colour of the navbar */
  color: #BDA544;
  text-transform: uppercase;
}

.custom-toggler.navbar-toggler {
	border-color: rgb(189, 165, 68);
} 

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(189, 165, 68, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0 !important;
}

@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
    	padding-right: .8rem;
    	padding-left: .8rem;
	}
}

.nav-link {
	font-size: 120%;
	transition: all .2s ease-in-out;
	float: left;
}

.nav-link.active {
	color: #AB953D !important;
}

.nav-link.active:hover {
	color: #AB953D !important;
	transform: scale(1.0);
}

.nav-link:hover{
	color: #AAAAAA !important;
	transform: scale(1.15);
	float:left;
}

.bg-dark{
	background-color: #686868 !important;
}

nav {
	background: rgba(80, 57, 85,0.6);
	box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 50%);
	position: fixed !important;
	width: 100%;
	transition: 0.5s;
}

nav:hover {
	background: rgba(80, 57, 85,0.9);
}

.navbar-brand {
	color: #BDA544 !important;
	padding: 0;
	margin: 0;
}

.navbar-logo img{
	height: 5em;
	position: absolute;
	top: 0;
}

.nav-item {
	font-weight: 400 !important;
}

.navbar {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	height: 3.8em;
}

/********************
*    PAGE HEADER    *
********************/
.page-header {
	background: url(assets/img/banner.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3%;
	padding: 5%;
	padding-top: 100px;
	width: 100%;
}

.index-header {
	padding-bottom: 200px;
}

.page-header-intro, .page-header-info {
	color: #BDA544;
}

/******************
*    PORTFOLIO    *
******************/

@media (min-width: 1700px) {
	.container-xl {
		max-width: 1600px;
	}
}

.portfolio .portfolio-piece img{
	width: 100%;
	overflow: hidden;
}

.portfolio .portfolio-piece .image:hover{
	background:rgba(0,0,0,0.1);
}

.portfolio .portfolio-piece .image-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #503955;
  }

.portfolio .portfolio-piece:hover .image-overlay{
	opacity: 0.7;
}

.portfolio .portfolio-piece {
	position: relative;
	background:rgba(0,0,0,0.1);
}

.portfolio .portfolio-piece:hover{
	transform: translateY(0);
	transition: 0.5s;
	background:rgba(0,0,0,0);
}

.portfolio .portfolio-piece .details{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10%;
    left: 0;
	z-index: 99 !important;
}

.preview {
	overflow: hidden;
	transition: .8s ease-in-out;
}

.preview:hover {
	transform: scale(1.1);
}

.portfolio .portfolio-piece{
	transition: 0.3s;
	overflow: hidden;
}

.portfolio .portfolio-piece h1 {
  position: relative;
  transform: translateY(50px);
  transition: .5s ease-in-out;
  font-weight: 600!important;
  font-size: 32px;
  text-transform: uppercase;
  color: #BDA544;
  line-height: 2%;
  letter-spacing: 0.5px;
  display: inline-block;
}

.portfolio .portfolio-piece:hover h1{
	transform: translateY(0);
}

.portfolio .portfolio-piece p {
  transform: translateY(30px);
  transition: .5s ease-in-out;
  font-weight: 500!important;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #BDA544;
  opacity: 0;
}

.portfolio .portfolio-piece:hover p {
	transform: translateY(0);
	opacity: 1;
}

@media (max-width: 992px) {
	.portfolio .portfolio-piece h1 {
  position: relative;
  transform: translateY(50px);
  transition: .5s ease-in-out;
  font-weight: 450!important;
  font-size: 26px;
  text-transform: uppercase;
  color: #BDA544;
  line-height: 2%;
  letter-spacing: 0.5px;
  display: inline-block;
}

.portfolio .portfolio-piece:hover h1{
	transform: translateY(0);
}

.portfolio .portfolio-piece p {
  transform: translateY(30px);
  transition: .5s ease-in-out;
  font-weight: 300!important;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #BDA544;
  opacity: 0;
}

.portfolio .portfolio-piece:hover p {
	transform: translateY(0);
	opacity: 1;
}
}

.portfolio .col-md-6, .portfolio .col-sm-6, .portfolio .col-sm-12 {
	padding-left: 0px !important;
	padding-right: 0px !important;
	float: left;
}

/**************
*    ENTRY    *
**************/
.entry h2 {
	text-align: center;
	margin: auto;
	margin-bottom: 5%;
	color: #503955;
}

@media (min-width: 800px) {
	.entry h2 {
		width: 80%;
	}
}

@media (min-width: 1000px) {
	.entry h2 {
		width: 70%;
	}
}

@media (min-width: 1400px) {
	.entry h2 {
		width: 60%;
	}
}

.entry .images .col-4, .entry .images .col-12, .entry .images .col-sm-4, .entry .images .col-6 {
	padding-left: 0px !important;
	padding-right: 0px !important;
	float: left;
}

.entry img{
	width: 100%;
	overflow: hidden;
}

.entry .video {
	position: relative;
  	padding-bottom: 47%; /* 16:9 */
  	height: 0;
}

.entry .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.entry .info p {
	text-align: right;
}

.entry .details p {
	text-align: left;
}

.entry .sub-image {
	transition: 0.5s;
}

.entry .sub-left:hover {
	transform: translate(25%,-25%);
	transition: 0.5s;
}

.entry .sub-middle:hover {
	transform: translateY(-25%);
	transition: 0.5s;
}

.entry .sub-right:hover {
	transform: translate(-25%,-25%);
	transition: 0.5s;
}

.entry .sub-image img {
	transition: 0.5s;
}

.entry .sub-image img:hover{
	transform: scale(1.5);
	transition: 0.5s;
}

@media (max-width: 576px) {
	.entry .sub-left:hover {
		transform: translate(50%,-50%);
	}
	
	.entry .sub-middle:hover {
		transform: translate(-50%,-50%);
	}

	.entry .sub-image img:hover {
		transform: scale(2);
	}
	
	.entry .sub-right:hover, .entry .sub-right img:hover {
		transform: none;
	}
}

/*************
*    SHOP    *
*************/

.btn-gold {
	background-color: #BDA544;
	color: white;
	border-color: #503955;
	transition: 0.5s;
}

.btn-gold:hover {
	background-color: #503955;
	color: white;
	border-color: #BDA544;
}

.shop-item-quantity {
	text-align: center;
	margin-bottom: 2%;
	margin-left: 2%;
	border: 1px solid #BDA544;
	background-color: #c7c7c6;
	vertical-align: top;
}

.shop-hover-effect {
	transition: 0.5s;
}

.shop-hover-effect:hover{
	background:rgba(0,0,0,0.06);
}

.card {
	background-color: rgba(0,0,0,.03);
}

.card-header{
	background-color: rgba(0,0,0,.06)
}

/**************
*    INDEX    *
**************/
.index h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
	color: #503955;
}

@media (min-width: 800px) {
	.index h2 {
		width: 80%;
	}
}

@media (min-width: 1000px) {
	.index h2 {
		width: 70%;
	}
}

@media (min-width: 1400px) {
	.index h2 {
		width: 60%;
	}
}

.index h2 .row{
	text-align: center;
}

/* .index img.intro {
	width: 25%;
	height: auto;
	padding: 0 0 0 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
} */

.index h3{
	margin: auto;
	text-align: center;
	margin-bottom: 2em;
	color: #AB953D;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.contact-form {
	margin: auto;
	background: url(assets/img/banner.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 3em;
	width: 90%;
}

.contact-form label {
	color: #AB953D;
}

.contact-form input {
	transition: 0.5s;
}
.contact-form input:hover{
	background-color: rgba(80, 57, 85,0.8);
	color: white;
}
.contact-form input:focus{
	background-color: rgba(80, 57, 85,0.8);
	color: white;
}

/* Code for most browsers, then code for Microsoft Edge */
.contact-form input::placeholder{
	transition: 0.5s;
	color: #AB953D;
}
.contact-form input:hover::placeholder{
	color: white;
}
.contact-form input::-ms-input-placeholder{
	transition: 0.5s;
}
.contact-form input:hover::-ms-input-placeholder{
	color: white;
}

.contact-form input:focus::placeholder{
	color: white;
}
.contact-form input:focus::-ms-input-placeholder{
	color: white;
}


footer {
	margin: auto;
	text-align: center;
}